Client.ServiceLayer/Connected Services/UserReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CreateUserWithPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserWithPassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUserWithPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserWithPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ValidatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CreateUserWithPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUserWithPassword" message="tns:IUserService_CreateUserWithPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserWithPasswordResponse" message="tns:IUserService_CreateUserWithPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ValidatePassword" message="tns:IUserService_ValidatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ValidatePasswordResponse" message="tns:IUserService_ValidatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" message="tns:IUserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" message="tns:IUserService_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUserWithPassword">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUserWithPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePassword">
      <soap:operation soapAction="http://tempuri.org/IUserService/ValidatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8014/Design_Time_Addresses/Server.ServiceLayer/UserService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>