Client.ServiceLayer/Connected Services/OrderReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_CreateOrderLine_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderLine" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrderLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderLineResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrderLine_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderLine" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrderLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderLineResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrderLine_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderLine" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrderLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderLineResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="CreateOrderLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CreateOrderLine" message="tns:IOrderService_CreateOrderLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CreateOrderLineResponse" message="tns:IOrderService_CreateOrderLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/CreateOrder" message="tns:IOrderService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/CreateOrderResponse" message="tns:IOrderService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderLine" message="tns:IOrderService_UpdateOrderLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderLineResponse" message="tns:IOrderService_UpdateOrderLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderLine" message="tns:IOrderService_DeleteOrderLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderLineResponse" message="tns:IOrderService_DeleteOrderLine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrderLine">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CreateOrderLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderLine">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdateOrderLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderLine">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrderLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost:8013/Design_Time_Addresses/Server.ServiceLayer/OrderService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>